
<div class="main-div" style="height:500px;width:100%;"></div>
 <!--starting of About me content-->
 <div class="container mt-5 about ">
  <h2 class="text-center font-weight-bolder" style="color:#1f5014;letter-spacing: 2px;">About MSM</h2>
  <div class="row  align-items-center mt-5">
      <div class="col-md-6 col-12 image-element ">
          <div class="img-wrap">
              <img src="../../assets/images/ghee.jpg" alt=""  class="illustration-image h-70 w-70" />
          </div>
      </div>
      <div class="col-md-6 text-element">
          <div class="text-content ">
              <div class="mbr-section-text" style="margin-top: 20px;">
                                <h5 class="font-weight-bolder" style="letter-spacing: 3px;color: #1f5014;">FEW WORDS</h5>
                <p>
                  We SRI LAKSHMI & Co group of companies have been dealing in manufacturing of ghee and trading of agro products since 1973. This traditional family business of ours has been
                  a long journey with improving services regularly…</p>
                    <button type="button" class="btn btn-primary view ">view more</button>

              </div>
          </div>
      </div>
  </div>
</div>

  <!--end of about me content-->





 <div class="container mt-5  ">
  <div class="row  align-items-center mt-5">
    <div class="col-md-6 text-element">
      <div class="text-content ">
          <div class="mbr-section-text" style="margin-top: 20px;">
                            <h5 class="font-weight-bolder" style="letter-spacing: 3px;color: #1f5014;">OUR PRODUCTS</h5>
            <p>
              MSM Ghee is just the milk fat (clarified butter), with the water and milk solids removed. Clarified butter is made in the French tradition, too,
               but the crucial difference is that ghee is simmered for a while…</p>
                <button type="button" class="btn btn-primary view ">view more</button>

          </div>
      </div>
  </div>
      <div class="col-md-6 col-12 image-element ">
          <div class="img-wrap">
              <img src="../../assets/images/ghee2.jpg" alt=""  class="illustration-image h-70 w-70" />
          </div>
      </div>

  </div>
</div>



<div class="footer">
  <div class="font-weight-bolder footer-title text-center">MSM Ghee</div>
  <p class=" text-center"><b>Email</b> : contact@msmghee.com</p>
  <P class=" text-center"><b>Phone</b> : +919843029284, +919486518766, +919843552516</P>
  <p class="text-center font-weight-bolder">Copyright © 2020 MSM</p>
</div>
