
.container-fluid{
  padding: 0% !important;
  margin: 0% !important;
}
.block-image{
  background-image: url("../../../../assets/images/500-ml-ghee-jar.png");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-block{
  width: 50%;
 float: right;
}


@media only screen and (max-width: 600px) {
  .text-block p{
      font-size: 13px;
  }
}


.footer-title{
  color: #1f5014;
  font-weight: 900;
  font-size: 36px;
}
